Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-Cors==4.0.1
Flask-WTF==1.2.1
requests==2.32.3
pytest==8.2.2
Werkzeug==3.0.3
email_validator==2.2.0
markdown==3.7
python-socketio==5.11.4
flask-socketio==5.3.7
eventlet
gunicorn